/*  OPTIMIZEAZA CA E HAOS OPTIMIZEAZA CA E HAOS OPTIMIZEAZA CA E HAOS  */

/*
Grupeaza selectorii similari la imagini spre ex

*/

html, body {
    color: #373f49;
    font-family: Barlow, sans-serif;
    font-size: 1em;
    line-height: 1.65;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.card {
    background-color: rgb( 255, 255, 255);
    border-radius: 25px;
    box-shadow: rgba(19, 15, 235, 0.1) 1px 2px 20px 0px;
    box-sizing: border-box;
    color: rgb( 55, 63, 73);
    width: 387px;
    height: 526.19px;
    padding: 30px;
}

.image-container {
    width: 150px;
    height: 75px;
    position: relative;
    top: -67.5px;
    /* background-color: red; */
}

.image-one {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 75px;
    height: 75px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 1;
}

.image-one img {
    width: 100%;       
    /* height: 100%;       */
    /* object-fit: cover; */
  }

.image-two {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    right: -0px;
    height: 75px;
    width: 75px;
    box-shadow: rgba(19, 15, 235, 0.1) 2px 4px 15px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 2;
    transform: translate(-25%, 0%);
}

.image-two img {
    width: 55px;
    height: 18.84px;
    padding-left: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    unicode-bidi: isolate;
    transform: translate(0%, -35%);
    margin-bottom: 0;
}

.testimonial {
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.story {
    display: inline-block;
    font-size: 20px;
    color: rgb(76, 15, 251);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    margin: 15px 0px 15px;
}

h3 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    border-top: 0.5px solid rgb(217, 217, 217);
    padding-top: 25px;
}

span {
    font-size: 20px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

svg {
    fill: rgb(76, 15, 251);
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid rgb(76, 15, 251);
}

.social-links {
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1;
    margin-top: 10px;
}

path {
    transform: translate(25%, 25%);
}

/* hr {
    
} */


/*  OPTIMIZEAZA CA E HAOS OPTIMIZEAZA CA E HAOS OPTIMIZEAZA CA E HAOS  */